<html>
<div class="jumbotron">
	<form name="contatoForm">
		<select class="form-control" ng-model="contato.tipo">
			<option value="">Selecione o tipo</option>
			<option>Pessoa Física</option>
			<option>Pessoa Jurídica</option>
		</select>

		<div ng-show="contato.tipo === 'Pessoa Física'">
			<input class="form-control" type="text" ng-model="contato.nome" name="nome" placeholder="Nome"
				ng-required="true" ng-minlength="10" />
			<input class="form-control" type="text" ng-model="contato.cpf" name="cpf" placeholder="CPF"
				ng-required="true" />
		</div>

		<div ng-show="contato.tipo === 'Pessoa Jurídica'">
			<input class="form-control" type="text" ng-model="contato.nomeFantasia" name="nomeFantasia"
				placeholder="Nome Fantasia" ng-required="true" ng-minlength="10" />
			<input class="form-control" type="text" ng-model="contato.cnpj" name="cnpj" placeholder="CNPJ"
				ng-required="true" />
			<input class="form-control" type="text" ng-model="contato.razaoSocial" name="razaoSocial"
				placeholder="Razão Social" ng-required="true" />
		</div>


		<input class="form-control" type="text" ng-model="contato.telefone" name="telefone" placeholder="Telefone"
			ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/" />
		<input class="form-control" type="text" ng-model="contato.data" name="data" placeholder="Data" ui-date />
		<select class="form-control" ng-model="contato.operadora"
			ng-options="operadora.nome + ' ( ' + (operadora.preco | currency) + ' )' for operadora in operadoras | orderBy:'nome'">
			<option value="">Selecione uma operadora</option>
		</select>
	</form>
	<div ng-show="contatoForm.nome.$dirty" ng-messages="contatoForm.nome.$error">
		<div ng-message="required" class="alert alert-danger">
			Por favor, preencha o campo nome!
		</div>
		<div ng-message="minlength" class="alert alert-danger">
			O campo nome deve ter no mínimo 10 caracteres.
		</div>
	</div>
	<div ng-show="contatoForm.telefone.$error.required && contatoForm.telefone.$dirty" class="alert alert-danger">
		Por favor, preencha o campo telefone!
	</div>
	<div ng-show="contatoForm.telefone.$error.pattern" class="alert alert-danger">
		O campo telefone deve ter o formato DDDDD-DDDD.
	</div>
	<button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)"
	>Adicionar Contato</button>
</div>

</html>